@import url("<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">")

* {
 font-family: "Robot",sans-serif;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  padding: 0;
}




#banner {
          background: linear-gradient(to bottom,rgba(80, 68, 18, 0.6) 5%,transparent),
          url("images/background.jpg") center top 70%/cover no-repeat border-box;
            height: 100vh;
            width:100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

           }

.main-nav {
  font-size: 1.8rem;
  
  }

.main-nav-brand {
   padding: 0;
   list-style: none;
   border: none;
   border: 2px solid blue;
   border-radius: 30px;
   padding: 10px;
   background:#4d4dff;
   text-align: center;
      }

.main-nav-brand:hover,
.main-nav-brand:active{
             background: blue;
             border-radius:80px;
             font-weight: bold;
             transition: 1s;
           }


.main-nav-brand a {
  color: #fff;
  text-decoration-line: none;
  text-transform: uppercase;
  font-size: 80%;

}



.main-nav-items {
  padding: 0;
  list-style: none;
  text-align: center;
}


.main-nav-items a{
  color: #fff;
  text-decoration-line: none;
  text-transform: uppercase;
  font-size: 70%;
}

.main-nav-item a:hover,
.main-nav-item a:active {
  color: blue;
  font-size: 100%;
  text-decoration: underline;
  background: #fff;
  letter-spacing: 1.5px;
  transition: 1s;

}

.main-nav-item:hover::after,
.main-nav-item:active {
  width: 100%;
}


#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.subject {
  font-size: 1.8rem;
  color: white;
  align-self: center;
}

.subject h1 {
  font-size: 100%;
  text-align: center;
}
.subject p{
  font-size: 60%;
}
.click {
  display: flex;
}

.click button {
  width: 150px;
  padding: 15px 0;
  margin: 0 10px;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  border:2px solid blue;
  background:  #1a1aff;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
}




.click button:hover {
  border:none;
  background: #4d4dff;
  font-size: 120%;

}

/***********************/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
  
  .main-nav {
             display: flex;
            align-items: center;
             height: 20%;
             
  }
  .main-nav-brand {
    padding-right:30px; 
  }

  .landscape {
    display: flex;
    flex-direction: row;

  }

  .main-nav-items {
  padding: 0 5px;
  
}


.main-nav-items a{
  color: #fff;
  text-decoration-line: none;
  text-transform: uppercase;
}

#content{
 height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

.subject {
  font-size: 2.5rem;
  color: white;
  align-self: center;
  justify-content: center;
}

.subject h1 {
  font-size: 100%;
}
.subject p{
  font-size: 60%;
}
}


/***************************************/
/**desktop**/
@media (min-width: 768px) { 
  #banner {
    align-items: space-between;
  }
  .main-nav {
    height: 15vh;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.2rem;             
  }
  .main-nav-brand {
    padding-left:20px; 
  }

  
  .main-nav-items {
  padding: 0 5px;
  
}
.main-nav-item {
  margin: 0 5px;
}


.subject {
  font-size: 5rem;
  color: white;
}

.subject h1 {
  font-size: 100%;
}
.subject p{
  font-size: 50%;
}
}
/*****************************/
/***Backdrop Area ***/
.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

/*Modal*/
.modal {
  position: fixed;
  top:30%;
  left: 30%;
  z-index: 200;
  width: 40%;
  display: none;
  background: white;
  border: 1px solid #ccc;
  padding: 1.4rem;
 box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}
.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: .5rem 1rem;
  margin: 10px;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
  }