@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* { 
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: poppins,sans-serif;
}


ul,nav {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

header {
	position: absolute;
	top: 0;
	left:0;
	z-index: 10;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
    padding: 35px 100px 0 ;
}


header nav {
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

header nav li {
	margin: 0 15px;
	text-transform: uppercase;
}

header nav li:first-child {
	margin-left:0;
}
header nav li:last-child {
	margin-right:0;
}

@media (max-width: 1000px){
	header {
		padding: 20px 50px;
	}

}

@media (max-width: 700px){
		header{
			flex-direction: column;
		}
		header h2 {
			margin-bottom: 15px;
     	}
        header nav li {
        	margin: 0 7px;
        }
	}

	/*Section banner */

.banner-area {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 110px 100px;
}

@media (max-width:1000px){
	section {
		padding: 100px 50px;
	}
}

@media (max-width:600px){
	section {
		padding: 125px 30px;
	}
}

section h1
section h3,{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

.banner-area {
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.banner-area .banner-img {
	background-image: url("../images/Home.jpg");
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	-webkit-background-size:center;
	background-size: cover;
	-webkit-background-position: center;
 	background-position: center;
    z-index: -1;
}

.banner-area .banner-img::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
}
.banner-area h1 {
	margin-bottom: 15px;
	font-size: 65px;
	font-family: merienda;
}

.banner-area h3 {
	margin-bottom: 40px;
	font-size: 25px;
}

.banner-area a.banner-btn {
	padding: 15px 35px;
	background:  #05164d;
	border-radius: 50px;
	opacity: .6;

	/*position: relative;
	overflow: hidden;*/
}

.banner-area a.banner-btn:hover{
 border: 2px solid blue;
 box-shadow: 1px 1px 1px #05164d;
 transition: .5s;
}


/*span {
	background: #05164d;
	height: 100%;
	width: 0%;
	border-radius:50px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: .5s;
}

.banner-area a.banner-btn:hover,
.banner-area a.banner-btn:active span{
	width: 100%;
}*/



@media (max-width:800px){
	
		.banner-area h1 {
		font-size: 32px;
	}
	.bannner h3 {
		font-size: 20px;
	}
	.banner-area a.banner-btn{
		padding: 15px 40px;
	}
}


/*********ABOUT AREA*******/

 ul.about-content{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.about-content li {
	padding: 20px;
	height: 290px;
	background-clip: border-box;
	-webkit-background-size:cover;
	background-size: cover;
	background-position: center;
}

.about-left{
	flex-basis: 40%;
	background-image:url("../images/about.png"); 
}

.about-right {
	flex-basis: 60%;
	font-size: 1.2rem;
}

.about-right p {
	max-width: 800px;
	margin-bottom: 30px;
	line-height: 1.5;
	text-align: left;
	padding-left: 0;
	font-weight: 120%;
}

.section-title {
	text-transform: uppercase;
	font-size: 50px;
	padding-top:1px; 
	margin-bottom: 3%;
	text-align: center; 
	color:  #142952;
	text-decoration: underline;
}

.about-right h2 {
	margin-bottom: 3%;
	color:  #000099;
	font-weight: bold;
}

.about-btn{
	padding: 15px 35px;
	background: #05164d;
	border-radius: 50px;
	text-transform: uppercase;
	color: #fff;
}

@media(max-width: 1000px){
	.about-right,
	.about-left {
		flex-basis: 100%;
	}
	.about-content li {
		padding: 8px;
	}
	#about {
		margin-bottom: 25px;
	}
}

/*********SERVICE AREA*******/
#service {
	background: #ddd;
}

.services-content{
	width: 100%;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.services-content li {
	flex-basis: 33%;
	text-align: center;
	padding: 0 30px;
}

.services-content li i {
    font-size: 50px;
	color: crimson;
	margin-bottom: 25px;
}

.services-content li h4 {
	font-size: 20px;
	margin-bottom: 25px;
	color: #000099;
	font-weight: bold;
	text-transform: uppercase;
}

.services-content li p {
	margin: 0;
}

@media(max-width: 1000px) {
	.services-content li {
	flex-basis: 100%;
	margin-bottom: 65px;
}
.services-content li:last-child {
	margin-bottom: 0;
}
}


/**CONTACT AREA**/
#contact {
	background: #fff;
}
.contact-area ul {
	width: 100%;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
 .contact-area ul li {
 	flex-basis: 23%;
	text-align: center;
	padding: 0 30px;
 }
 .contact-area ul li:hover{
 	background:  #ccccb3;
 }
.contact-area li i {
    font-size: 50px;
	color: crimson;
	margin-bottom: 25px;
}
.contact-area li p {
	margin: 0;
}

.contact-area li p span {
	font-size: 20px;
	color: blue;
	margin-right: 10px;
}

@media(max-width: 1000px) {
	.contact-area ul li {
	flex-basis: 100%;
	margin-bottom: 65px;
}
     .contact-area ul li:last-child {
	margin-bottom: 0;
}
.contact-area ul p {
	padding: 0;
}

}

/*****FEEDBACK AREA*****/

.feedback-area{
	background: #f1f1f1;
}
#feedback{
	width: 100%;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#feedback .feedback-content {
	flex-basis: 33%;
	padding: 0 30px;
}


.feedback-content {
	height: 100%;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.feedback-content > div {
	text-align: center;
	margin-top: 30px;

}



.feedback-content .feedback-bottom {
	text-align: center;
}

.feedback-content .feedback-bottom h3 {
	margin-bottom: 10px;
	font-weight: bold;
	color:  #0000cc;
}

.feedback-content .feedback-bottom p {
	font-size: 1rem;
}

.feedback-content .feedback-bottom p:hover {
  color: #fff;
  background: #000;
  opacity: .5;
  transition: .5s;
  cursor: pointer;
}


 
 img {
 	width: 100%;
 	height: 100%;
 	border-radius: 50%;
 }

 .feedback-btn {
 	height: 100%;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
    background:  #0000b3;
 }

.feedback-btn h2 {
	color: #fff;
	margin-bottom:10px; 
}


.feedback-btn button  {
  width: 120px;
  padding: 15px 0;
  margin: 0 10px;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  font-size: 15px;
  border:2px solid blue;
  background: transparent;
  color: #fff;
  cursor: pointer;
  margin-bottom: 5px; 
}

.feedback-btn button:hover {
	  background:  #05164d;

}

@media(max-width: 1000px) {
	#feedback .feedback-content {
	flex-basis: 100%;
	padding: 0 10px;
}
 .feedback-area{
 	margin-bottom: 0;
 	padding-bottom: 0;
 }

 .feedback-btn h2 {
  font-size: 15px;
}

.feedback-btn +button  {
	padding: 10px 0;
}
.feedback-area {
	padding: 100px 10px;
}
}

/**HIRE AREA**/

.hire {
	height: 100%;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 30px;
}

.img-left {
	flex-basis: 40%;
	padding-right: 20px;
}

.text-right {
	flex-basis: 60%;
}


.text-right h2 {
	font-size: 25px;
	font-weight: bold;
	color: rgb(0, 0, 238);
     margin-bottom:5px;
}


.text-right h3 {
	font-size: 25px;
	color: rgba(0, 0, 238,0.9);
    margin-bottom:10px;
}

.text-right ul li {
	font-size: 18px;
    margin-bottom:10px;
}

.text-right ul li:hover {
	color: #fff;
	background: #000;
	opacity: .5;
	font-weight: bold;
}

.text-right > h4 {
	background:  #0039e6;
	width: 80%;
	color: #fff;
	font-size: 15px;
    margin-bottom:10px;
}


 .hire-now{
	width: 100%;
	height:100%;
	border-radius: 0;
}


.btn-hire{
  width: 120px;
  padding: 15px 0;
  margin: 0 10px;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  font-size: 15px;
  border:2px solid blue;
  background: blue;
  color: #fff;
  cursor: pointer;
}

.btn-hire:hover{ 
	background:rgb(11, 63, 218)	;
}
@media(max-width: 1000px) {
	.text-right {
	flex-basis: 100%;
}

.img-left {
	flex-basis: 100%;
	padding-right: 10px;
}

.hire {
	padding: 0 10px;
}
.hiring-area{
	padding: 10px 10px;
}
}

/**TRAINING AREA**/

#train{
	height: 700px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
/*	flex-wrap: wrap;
*/	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
	font-size: 150%;
}

.box-left{
	background: #0000ff;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 80%;
	flex-basis: 50%;
	margin-right: 10px; 
    margin-bottom:10px; 
    width: 80%;
    height: 100%;
    border: 5px solid blue;
    box-shadow: 3px 3px 3px #ccccff;
}



.box-right{
	background:#0000ff;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 80%;
	flex-basis: 50%;
	margin-left:10px; 
	margin-bottom:10px; 
	border: 5px solid blue;
	box-shadow: 3px 3px 3px #ccccff;
}

.hd3 {
	font-weight: bold;
	font-size: 60px;
	position: relative;
}

.hd3::after{
	position: absolute;
	left: 0;
	bottom: 0;
	content: "";
	height: 3px;
    width: 0;
    background: darkblue;
    transition:1s;
}

.hd3:hover::after{
	width: 100%;
}

.hd3:hover {
	   cursor:pointer;
}

button{
	width: 120px;
	padding:15px 0;
	text-align: center;
	border-radius: 25px;
	font-weight: bold;
	color: #fff;
	border: 2px solid  #1a1aff;
	background:  #3333ff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}


button:hover {
    background: darkblue;
    border-color: #000099;
}



@media(max-width: 1000px) {
   #train{
	flex-direction: column;
	padding: 0;
   }
  .box-left {
	width: 100%;
	margin-right: 0;

  }
  .box-right {
	width: 100%;
	margin-left: 0;
  }
  section {
  	padding: 100px 10px;
  }
  h3 {
	font-size: 30px;
}
h4 {
	font-size: 25px;
}
}

/***Footer Area****/

footer {
	height: 800px;
	width: 100%;
	padding:0;

}
#main-footer{
	background: #05164d;
	color: #fff;
	height: 100%;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	padding: 0 30px;
}

.foot-top {
	flex-basis: 80%;
	width: 100%;
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 50px  30px 0 30px;
}

.foot-col{
	  display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-basis: 22%;
}


.foot-col h3 {
	margin-bottom: 40px;
	padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    font-size: 15px;
    width: fit-content;
}
.foot__top {
	margin-top: 20px;
}

.foot__top li {
	margin-bottom: 20px;
}

.foot__top li a,
.foot__bottom li a{
	padding-bottom: 10px;
	color: rgb(204, 204, 204);	
}

.foot__top li a:hover,
.foot__bottom li a:hover{
	color: #fff;	
}

hr {
	width:100%;
	text-align:left;
	margin-left:0;
	color:#fff;
}


.foot__bottom{
	flex-basis: 20%;
	height:100%;
	width:100%;
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	align-content: center;
	padding: 50px  30px;

}

@media(max-width: 1000px){
	#main-footer {
		padding: 0;
	}
	footer {
		height: 100%;
		padding: 100px 10px 0 10px;

	}

.foot-top{
	flex-direction: column;
	justify-content: space-between;
	padding: 25px  15px 0 15px;
	}
	
	.foot-col {
	  justify-content: center;
	  align-items: center;	
	}
	.foot-col h3 {
	margin-bottom: 10px;
	padding-bottom: 2px;
}

.foot__top {
    display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.foot__top li,
.foot__bottom li{
	margin-bottom: 10px;
}
.foot__bottom{
	flex-basis: 20%;
	flex-direction: column;
    align-items: center;
	padding: 25px  15px;
}
}